/* Font Importing */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Reseting CSS Rules */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

/* General rules */
:root {
    --orange: #F78B00;
    --blue: #00285F;
    --gray: #EDEDED;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

@keyframes is-boucing {
    to {
        transform: translateY(-10px);
    }
}

/* Top of the page */
header {
    width: 100%;
    height: 500px;
    background: var(--orange);
    margin-bottom: 150px;
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto 150px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

nav {
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand {
    font-size: 24px;
    color: var(--blue);
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding: 10px;
}

nav ul li a {
    color: var(--blue);
    text-decoration: none;
}

nav ul li a:hover {
    opacity: 0.7;
}

nav ul button {
    border: 1px solid var(--blue);
    background: transparent;
    border-radius: 4px;
    padding: 0 30px;
    margin-left: 40px;
    color: var(--blue);
    font-weight: 900;
    cursor: pointer;
}

nav ul button:hover {
    background: var(--blue);
    color: #FFFFFF;
    transition: 0.6s;
}

.header-block {
    max-width: 1000px;
    min-width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--blue);
    box-shadow: 5px 0 10px 0 rgba(0,0,0,1);
    -webkit-box-shadow: 5px 0 10px 0 rgba(0,0,0,1);
    -moz-box-shadow: 5px 0 10px 0 rgba(0,0,0,1);
    position: relative;    
}

.header-block img {
    width: 55%;
    position: absolute;
    right: -101%;
    bottom: 2%;
    transform: translateX(-190%);
    transition: transform 2s;
}

.header-block .text {
    position: absolute;
    bottom: 40%;
    left: 10%;
    color: #FFFFFF;
}

.header-block .text h2 {
    text-align: right;
    font-size: 30px;
    margin-right: -1000px;
    margin-bottom: 20px;
    transform: translateX(-1000px);
    transition: transform 1.8s;
}

.header-block .text p {
    max-width: 280px;
    text-align: right; 
}

/* Catalog Section */

section .catalog {
    width: 100vh;
    padding: 100px;
}

.filter-card {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
    background-color: var(--gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-wrapper {
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
    color: var(--blue);
    background: var(--orange);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 8px 8px 0 0;
}

.search-input {
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 4px 0 0 4px;
    text-indent: 10px;
    font-size: 1.1em;
}

.search-button {
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: var(--blue);
    cursor: pointer;
    color: #FFFFFF;
    font-size: 1.1em;
    transition: 1s ease;
}

.search-button:hover {
    background-color: var(--orange);
    color: var(--blue);
    transition: 0.5s;
}

.card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
}

.card-item {
    height: 400px;
    background-color: var(--gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-item img {
    width: 85%;
}

.card-item h3 {
    width: 90%;
    text-align: center;
}

.card-item p {
    width: 90%;
    font-style: italic;
    opacity: 0.7;
}

.card-item button {
    width: 90%;
    padding: 15px 0;
    border: none;
    cursor: pointer;
    background-color: var(--blue);
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: 900;
    font-size: 1.1em;
    margin-bottom: 10px;
    transition: 0.5s; 
}

.card-item button:hover {
    background-color: var(--orange);
    color: var(--blue);
    transition: 0.5s;   
}

/* About */

.about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.about-content {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background-color: #dedede70;
    margin: 0 auto;
    border-radius: 0 0 8px 8px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.title-wrapper {
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
    color: var(--blue);
    background: var(--orange);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 8px 8px 0 0;
}

.left {
    width: 25%;
    min-width: 300px;
    height: 100%;
    background: #000000a1;
    border-radius: 8px;
}

.right {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.right h3 {
    text-align: right;
    width: 90%;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.right p {
    max-width: 90%;
    font-size: 1em;
    text-align: right;
    color: rgba(0,0,0,0.6);
    line-height: 1.8em;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

/* Features */

.features {
    width: 100%;
    background: var(--gray);
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-wrapper {
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
    color: var(--blue);
    background: var(--orange);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 8px 8px 0 0;
}

.feature-card-block {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: #FFFFFF;
    margin: 0 auto;
    padding: 50px 25px;
    border-radius: 0 0 8px 8px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}

.feature-card-item {
    max-width: 420px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #00000050;
    border-radius: 8px;
}

.feature-text-content {
    max-width: 60%;
    margin: 5px;
}

.feature-text-content h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.feature-text-content p {
    line-height: 1.3em;
    color: rgba(0,0,0,0.6);
}

.feature-card-item img {
    width: 64px;
    height: 64px;
}

/* Footer */
footer {
    width: 100%;
    height: 250px;
}

footer .main {
    width: 100%;
    height: 200px;
    background-color: var(--orange);
    padding: 20px 10px;
}

.footer-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-company, .footer-rental, .footer-contact, .footer-social {
    color: #FFFFFF;
    height: 100%;
    min-height: 100px;
    margin-bottom: 20px;
}

.footer-links h4 {
    border-bottom: 2px solid #FFFFFF;
    margin-bottom: 10px;
}

.footer-rental, .footer-contact {
    margin-left: 20px;
}

.footer-links {
    margin-bottom: 8px;
}

.main .footer-social img {
    width: 32px;
    height: 32px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer .last {
    width: 100%;
    height: 50px;
    background-color: var(--blue);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-chevron-up {
    font-size: 2em;
    color: #FFFFFF;
    padding: 10px;
    background-color: var(--orange);
    border-radius: 4px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    box-shadow: 5px 5px 10px #333;
    z-index: 2;
    animation: is-boucing 1s ease-out alternate infinite;
}

/* Responsivity */

@media (max-width: 700px){
    nav ul li {
        display: none;
    }

    .header-block {
        height: 60vh;
    }

    .header-block img {
        width: 80%;
        right: 10%;
        top: 5%;
        bottom: 2%;
        transform: translateX(0);
        transition: 0s;
    }

    .header-block .text {
        bottom: 2%;
        right: 2%;
        padding: 5%;
    }

    .header-block .text h2 {
        font-size: 1.5em;
    }

    .header-block .text p {
        max-width: 400px;
        margin-left: 30%;
    }

    .filter-card {
        padding: 0 10px;
    }

    .search-input {
        width: 80%;   
        font-size: 0.9em;     
    }

    .search-button {
        max-width: 150px;
        min-width: 80px;
    }

    .title-wrapper {
        font-size: 1.5em;
    }

    .content {
        max-width: 1000px;
        min-width: 100px;
        margin: 0 auto 50px auto;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .about-content {
        flex-direction: column;
        height: 100%;
        min-width: 280px;
    }

    .right {
        width: 100%;
        margin-top: 20px;
    }

    .left {
        display: none;
    }

    .features {
        height: 100%;
    }
    .feature-card-block {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .feature-text-content {
        max-width: 70%;
    }

    footer {
        height: 100%;
    }

    footer .main {
        height: 100%;
    }

    .footer-links {
        align-items: flex-start;
    }

    .footer-rental, .footer-rental, .footer-contact {
        margin-left: 0;
    }

    .fa-chevron-up {
        font-size: 1.5em;
        padding: 5px;
    }
}